:root {
  // theme
  --color-primary: #d8c3ae;
  --color-secondary: #757575;
  --color-background: #363636;

  // swiper
  --swiper-theme-color: var(--color-primary);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-background);
}
